<div class="d-flex justify-content-between align-items-center">
  <h3 class="m-0"><%= pageTitle %></h3>
  <a class="btn btn-primary" href="/userProfiles/create" role="button">
    <i class="bi-plus-lg"></i> Create Profile
  </a>
</div>

<div class="table-responsive mt-3">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Full Name</th>
        <th scope="col">Address</th>
        <th scope="col">Phone Number</th>
        <th scope="col">User Game</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% userProfiles.forEach((userProfile, index) => { %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td class="w-75"><%= userProfile.fullName %></td>
          <td class="w-50"><%= userProfile.address %></td>
          <td class="w-50"><%= userProfile.phoneNumber %></td>
          <td class="w-25"><%= userProfile.userGame.username %></td>
          <td>
            <div class="d-flex gap-2 text-nowrap">
              <a class="btn btn-success btn-sm" href="/userProfiles/<%= userProfile.id %>" role="button">
                <i class="bi-eye-fill"></i> Lihat Detail
              </a>
              <a class="btn btn-primary btn-sm" href="/userProfiles/<%= userProfile.id %>/edit" role="button">
                <i class="bi-pencil-fill"></i> Edit
              </a>
              <form method="post" action="/userProfiles/<%= userProfile.id %>?_method=DELETE">
                <button class="btn btn-danger btn-sm" type="submit">
                  <i class="bi-trash-fill"></i> Delete
                </button>
              </form>
            </div>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>