<button type="button" onclick="history.back()" class="btn btn-light">
  <i class="bi-arrow-left"></i>
  back
</button>

<h3 class="my-3"><%= pageTitle %></h3>

<div class="table-responsive mt-3">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row">Full Name</th>
        <td><%= userProfile.fullName %></td>
      </tr>
      <tr>
        <th scope="row">Address</th>
        <td><%= userProfile.address %></td>
      </tr>
      <tr>
        <th scope="row">phoneNumber</th>
        <td><%= userProfile.phoneNumber %></td>
      </tr>
      <tr>
        <th scope="row">User Game</th>
        <td><%= userProfile.userGame.username %></td>
      </tr>
      <tr>
        <th scope="row">Data Created At</th>
        <td><%= userProfile.createdAt %></td>
      </tr>
      <tr>
        <th scope="row">Data Updated At</th>
        <td><%= userProfile.updatedAt %></td>
      </tr>
    </tbody>
  </table>
</div>